.container {
  margin: auto;
  width: 80%;
  padding-top: 1em;
  padding-bottom: 2em;
}

.cardsWrapper {
  margin: auto;
  width: 80%;
}

.cardWrapper {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.stationName {
  text-align: center;
  padding-bottom: 1em;
}

.lineTitle {
  text-align: center;
  padding-bottom: 0.25em;
}

.backBtnWrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}
