.container {
  margin: auto;
  width: 80%;
  padding-bottom: 2em;
}

.cardsWrapper {
  margin: auto;
  width: 80%;
}

.stationName {
  text-align: center;
  padding-bottom: 1em;
}

.backBtnWrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}
