.grid-container{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: white;
	align-content: center;
    padding: 10px;
}

.grid-item-blue{
    width:100px;
	height:100px;
	background-color: rgb(44, 47, 230);
	border-radius: 50%;
	grid-row:auto / span 1;
	grid-column:auto / span 1;
	margin:10px 0;
    font-size: 55px;
    text-align: center;
}
.grid-item-orange{
    width:100px;
	height:100px;
	background-color: rgb(235, 110, 8);
	border-radius: 50%;
	grid-row:auto / span 1;
	grid-column:auto / span 1;
	margin:10px 0;
    font-size: 55px;
    text-align: center;
}
.grid-item-green{
    width:100px;
	height:100px;
	background-color:rgb(180, 250, 90);
	border-radius: 50%;
	grid-row:auto / span 1;
	grid-column:auto / span 1;
	margin:10px 0;
    font-size: 55px;
    text-align: center;
}
.grid-item-grey{
    width:100px;
	height:100px;
	background-color:rgb(179, 179, 179);
	border-radius: 50%;
	grid-row:auto / span 1;
	grid-column:auto / span 1;
	margin:10px 0;
    font-size: 55px;
    text-align: center;
}
.grid-item-brown{
    width:100px;
	height:100px;
	background-color:rgb(78, 35, 6);
	border-radius: 50%;
	grid-row:auto / span 1;
	grid-column:auto / span 1;
	margin:10px 0;
    font-size: 55px;
    text-align: center;
}
.grid-item-yellow{
    width:100px;
	height:100px;
	background-color:rgb(240, 189, 48);
	border-radius: 50%;
	grid-row:auto / span 1;
	grid-column:auto / span 1;
	margin:10px 0;
    font-size: 55px;
    text-align: center;
}
.grid-item-red{
    width:100px;
	height:100px;
	background-color:red;
	border-radius: 50%;
	grid-row:auto / span 1;
	grid-column:auto / span 1;
	margin:10px 0;
    font-size: 55px;
    text-align: center;
}
.grid-item-darkgreen{
    width:100px;
	height:100px;
	background-color:green;
	border-radius: 50%;
	grid-row:auto / span 1;
	grid-column:auto / span 1;
	margin:10px 0;
    font-size: 55px;
    text-align: center;
}
.grid-item-purple{
    width:100px;
	height:100px;
	background-color:rgb(143, 62, 190);
	border-radius: 50%;
	grid-row:auto / span 1;
	grid-column:auto / span 1;
	margin:10px 0;
    font-size: 55px;
    text-align: center;
}
.grid-item-teal{
    width:100px;
	height:100px;
	background-color:rgb(35, 229, 243);
	border-radius: 50%;
	grid-row:auto / span 1;
	grid-column:auto / span 1;
	margin:10px 0;
    font-size: 55px;
    text-align: center;
}
.grid-item-shuttle{
    width:100px;
	height:100px;
	background-color:rgb(85, 82, 82);
	border-radius: 50%;
	grid-row:auto / span 1;
	grid-column:auto / span 1;
	margin:10px 0;
    font-size: 55px;
    text-align: center;
}


