#main{
	text-align: center;
	margin: 30px 0px;
}

.grid-container{
    display: inline-grid;
    grid-template-columns: auto auto auto;
	justify-content: space-around;
    background-color: white;
	align-content: center;
	column-gap: 10px;
	row-gap: 10px;
	font-weight: bold;
	font-size: 55px;
	font-family: Helvetica, serif;
}

.grid-item-blue{
    width:100px;
	height:100px;
	background-color: rgb(44, 47, 230);
	border-radius: 50%;
	grid-row:auto / span 1;
	grid-column:auto / span 1;
	color: white;
}
.grid-item-orange{
    width:100px;
	height:100px;
	background-color: rgb(235, 110, 8);
	border-radius: 50%;
	grid-row:auto / span 1;
	grid-column:auto / span 1;
	color: white;
}
.grid-item-green{
    width:100px;
	height:100px;
	background-color:rgb(180, 250, 90);
	border-radius: 50%;
	grid-row:auto / span 1;
	grid-column:auto / span 1;
	color: white;
}
.grid-item-grey{
    width:100px;
	height:100px;
	background-color:rgb(179, 179, 179);
	border-radius: 50%;
	grid-row:auto / span 1;
	grid-column:auto / span 1;
	color: white;
}
.grid-item-brown{
    width:100px;
	height:100px;
	background-color:rgb(78, 35, 6);
	border-radius: 50%;
	grid-row:auto / span 1;
	grid-column:auto / span 1;
	color: white;
}
.grid-item-yellow{
    width:100px;
	height:100px;
	background-color:rgb(240, 189, 48);
	border-radius: 50%;
	grid-row:auto / span 1;
	grid-column:auto / span 1;
}
.grid-item-red{
    width:100px;
	height:100px;
	background-color:red;
	border-radius: 50%;
	grid-row:auto / span 1;
	grid-column:auto / span 1;
	color: white;
}
.grid-item-darkgreen{
    width:100px;
	height:100px;
	background-color:green;
	border-radius: 50%;
	grid-row:auto / span 1;
	grid-column:auto / span 1;
	color: white;
}
.grid-item-purple{
    width:100px;
	height:100px;
	background-color:rgb(143, 62, 190);
	border-radius: 50%;
	grid-row:auto / span 1;
	grid-column:auto / span 1;
	color: white;
}
.grid-item-teal{
    width:100px;
	height:100px;
	background-color:rgb(35, 229, 243);
	border-radius: 50%;
	grid-row:auto / span 1;
	grid-column:auto / span 1;
	color: white;
}
.grid-item-shuttle{
    width:100px;
	height:100px;
	background-color:rgb(85, 82, 82);
	border-radius: 50%;
	grid-row:auto / span 1;
	grid-column:auto / span 1;
	color: white;
}
.grid-item-sir{
    width:100px;
	height:100px;
	background-color:#006EC7;
	border-radius: 50%;
	grid-row:auto / span 1;
	grid-column:auto / span 1;
	color: white;
}

.grid-item-diamond-purple {
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-bottom-color: rgb(143, 62, 190);
	position: relative;
	top: -50px;
	color: white;
  }
.grid-item-diamond-purple:after {
	content: '';
	position: absolute;
	left: -50px;
	top: 49px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-top-color: rgb(143, 62, 190);
}

.grid-item-diamond-dark-green {
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-bottom-color: green;
	position: relative;
	top: -50px;
	color: white;
  }
.grid-item-diamond-dark-green:after {
	content: '';
	position: absolute;
	left: -50px;
	top: 49px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-top-color: green;
}

.diamondContent{
	position: relative;
	margin: 12px auto 0 -16px;
	font-weight: bold;
	z-index: 888;
}

.circleContent{
	padding-top: 10px;
}


