.contentWrapper {
  display: flex;
  align-items: center;
}

.icon {
  padding-left: 2px;
  padding-right: 2px;
}

.iconsWrapper {
  padding-left: 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  float: right;
}

.favbtn {
  margin-right: 5px;
  margin-top: 5px;
  float: left;
}
